<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <meta chars='utf8-'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <section>    
        <div id="title">
          <h1><%= title %></h1>
          <h2><%= subtitle %></h1>
        </div>
      </section>

    </header>

    <%= yield %>
  </body>
</html>
